<!doctype html>
<html lang="en">

<head>
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<!-- <base href="/"> -->
	<%= require("./cabecalho-" + htmlWebpackPlugin.options.ambiente + ".html") %>
</head>

<body class="mdc-typography demo-body">
	<div>
		<div id="modalConfirmacao" style="margin-top: 0"></div>
		<%= require("./parcial/navegacao-cabecalho.html") %>
		<%= require("./parcial/navegacao-barra-lateral.html") %>
		<%= require('./principal.html' ) %>
	</div>
	<footer>
		<%= require("./rodape.html") %>
	</footer>
</body>

</html>
